.vs/
build/
out/
publish/
reports/

*.log
*.dmp
*.tmp
*.bak

init.managed.txt
init.native.txt

src/**/bin/
src/**/obj/
src/ScumOxygen.Native/build/
src/ScumOxygen.Native/build_codemod/
src/ScumOxygen.ServerProxy/build_hosted/

dist/*
!dist/server/
!dist/server/**

artifacts/
packages/
